<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="fission, cloud, crawler, university project, cloud technologies">
    <meta name="authors" content="Ivan, Tina">
    <title>The Cloud Crawler</title>
    <link rel="stylesheet" type="text/css" href="{{ static_url }}/style.css">
</head>

<body>
    <header>
        <div class="site-identity clear">
            <div class="container">
            <div class="site-title-wrap">
                <h1 class="branding"> The Cloud Crawler</h1>
                </div>
            </div>
        </div>
    </header>

    <section id="showcase">
        <div class="container">
            <h1>The Cloud Crawler</h1>
            <p>Your friendly web crawler</p>
            <img src="{{ static_url }}/logo.png">
        </div>
    </section>

    <section id="browse">
        <div class="container">
           <center>
               <form action="/" method="GET">
                    <input name="keywords" placeholder="Search for keywords">
                    <input name="domain"  placeholder="Enter a domain suffix (e.g. '.com')" size="10">
                 <button type="submit" class="button_1">Crawl</button>
                </form>
            </center>
        </div>
    </section>

    {% if results %}
    <section id="results">
      <table>
        <thead>
          <tr>
            <th>URL</th>
            <th>Occurances</th>
          </tr>
        </thead>
        <tbody>
        {% for result in results %}
        <tr>
         <td>{{ result.0 }}</td>
         <td>{{ result.1 }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </section>
    {% endif %}

    <footer>
        <p>The Cloud Crawler, 2019</p>
    </footer>

</body>

</html>
