body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #cacaca;
}

/* Global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header{
    background: #335544;
    color: #fff;
    padding-top: 0px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

ul{
    float: right;
    list-style-type: none;
    margin-top: 35px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color:#fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

.branding {
    float: left;
}

/* Showcase */
#showcase{
    min-height: 100px;
    text-align: center;
    color: #2D2826;
}

#showcase h1{
    margin-top: 60px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#browse input[type="url"]{
    margin-top: 30px;
}

footer{
    display: block;
    padding: 20px;
    margin-top: 85px;
    color: #fff;
    background-color: #335544;
    text-align: center;
    border-top: #e8491d 3px solid;
}

/* Media Queries */
@media(max-width: 768px){
    header #branding
    header nav
    header nav li{
        float:none;
        text-align: center;
        width:100%;
    }
    header{
        padding-bottom:20px;
    }
    #showcase h1{
        margin-top:40px;
    }
}